<% @title = 'ServiceCrunch' %>
<div class="search">
<form class="well form-search">
	<b>Search:</b>
 <%= form_tag services_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search], :placeholder => "Landscaping...", :style => "width:80%;" %>
	<%= submit_tag "Search", :name => nil %>
<%end%>
</div>

<% @services.each do |service| %>  
    <p><%= link_to "#{service.title}", service %></p>
<% end %>
</form>

<div class="row">
<div class="span6">
<br>
	

<h4>Construction Services </h4>
<% Service.where(:category => "construction").each do |service| %>
<%= link_to service.title.capitalize, service %><br>
<% end %>

<br>

<h4>Pet Services </h4>
<% Service.where(:category => "pet").each do |service| %>
<%= link_to service.title.capitalize, service %><br>
<% end %>
<br><br>
</div>
</div>

<div class="row">
<div class="span4 offset8">
	
</div>
</div>
	
</div>
	
</div>
</div>

