<% @title = 'ServiceCrunch' %>
<form class="form-search">
	<b>Search:</b>
 <%= form_tag services_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search], :placeholder => "Landscaping...", :style => "width:80%;" %>
	<%= submit_tag "Search", :name => nil %>
</form>
<%end%>


<div class="span6">
<% @services.each do |service| %>  
    <p><%= link_to "#{service.title}", service %></p>
<% end %>
</div>

<div class="span6 offset3">
<% @providers.last(10).reverse.each do |provider| %>
	<b><%= link_to provider.user.name, user_path(provider.user_id) %></b> 
	added 
	<b><%= link_to provider.name, provider_path(provider) %></b> 
	to 
	<b><%= link_to provider.service.title, provider.service %></b>
	<br>
<% end %>
</div>


<div class="row">
<div class="span12">
	<div class="span6">
	<div style="font-size: 13px;">
	  <i class="icon-bookmark	"></i> <b>Construction</b> (<%= Service.where(:category => "construction").count%>)
	</div>
<ol>	
<div style="font-size: 12px;">
<% Service.where(:category => "construction").each do |service| %>
<%= link_to service.title.capitalize, service %><br>
<% end %>
</div>
</ol>



<div style="font-size: 13px;">
  <i class="icon-bookmark"></i> <b>Pet Services</b>
</div>

<div style="font-size: 12px;">
<% Service.where(:category => "pet").each do |service| %>
<%= link_to service.title.capitalize, service %><br>
<% end %>
</div>
<br>
<div style="font-size: 13px;">
  <i class="icon-bookmark"></i> <b>Tutoring</b>
</div>
<br>
<div style="font-size: 13px;">
  <i class="icon-bookmark"></i> <b>Child Services</b>
</div>
<br>
<div style="font-size: 13px;">
  <i class="icon-bookmark"></i> <b>Technology</b>
</div>
<br>
<div style="font-size: 13px;">
  <i class="icon-bookmark"></i> <b>Planners	</b>
</div>
<br>
<div style="font-size: 13px;">
  <i class="icon-bookmark"></i> <b>Trainers</b>
</div>
<br>
<div style="font-size: 13px;">
  <i class="icon-bookmark"></i> <b>Fixers</b>
</div>
<br>

</div>
</div>



	
