<% @title = @service.title %>
<div class="search">
<form class="well form-search">
	<b>Search:</b> 
<%= form_tag service_path, :method => :get do %>
    <%= text_field_tag :search, params[:search], :placeholder => "City, State or Zip Code...", :style => "width:80%;"  %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</div>
</form>
<div class="row">
	<div class="span6">
<% if !@providers.empty? %>
<% @providers.each do |provider| %>
<div class="providers">
	<ol>

	<li>
	[<%= link_to provider.user.name, user_path(provider.user_id) %>] <%= link_to provider.name, provider_path(provider) %>
	<%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, vote_provider_path(provider, type: "up"), method: "post" %>
	<%= pluralize provider.reputation_value_for(:votes).to_i, "like" %>
</div>	


<% end %>
<%= yield :scripts %>
<% else %>
Sorry there were no providers found near the address you specified.
<%end%>
</div>
</ol>
</div>
</div>

