<div class="span12">
<div class="row">
<% @title = @service.title.capitalize %>
<div class="search">
		<form class="well form-search">
			<b>Search:</b> 
				<%= form_tag service_path, :method => :get do %>
    			<%= text_field_tag :search, params[:search], :placeholder => "City, State or Zip Code...", :style => "width:80%;"  %>
    			<%= submit_tag "Search", :name => nil %>
		</form>
</div>

<% end %>	

<% if !@providers.empty? %>
<% @providers.each do |provider| %>
<div class="span8 offset2">	
	<div><%= @service.title.capitalize %></div>	
<div class="providers">
	<%= gravatar_for provider.user.email%> 
	<div class="linktoprovider">
	<%= link_to provider.name, provider_path(provider) %>
	</div>
	
	<div class="vote">
	<%= pluralize provider.reputation_value_for(:votes).to_i, "recommendation" %>
		<%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, vote_provider_path(provider, type: "up"), method: "post" %>
	</div>	
</div>

<div class="timeago">	
<div class="right">	
<%= link_to provider.user.name, user_path(provider.user_id) %> added this service <%= time_ago_in_words(provider.created_at) %> ago
</div>
	<hr>
</div>

</div>
<% end %>
<%= yield :scripts %>
<% else %>
<div class="nosearch">
<center>Sorry there are no <%= @service.title.downcase %> services near the address you specified.</center>
</div>
<% end %>
</div>
</div>
		


	












