<% @title = @service.title %>
<div class="search">
<form class="well form-search">
	<b>Search:</b> 
<%= form_tag service_path, :method => :get do %>
    <%= text_field_tag :search, params[:search], :placeholder => "City, State or Zip Code...", :style => "width:80%;"  %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</div>
</form>
<center>


</center>
<br>

<h2><center><%= @service.title.capitalize %></h2></center>
<br>

<br>
<ol>
<% if !@providers.empty? %>
<% @providers.each do |provider| %>

<li>
<h4><%= link_to provider.name, provider_path(provider) %></h4>
<%= provider.street %> <%= provider.city%> <%= provider.state%> <%= provider.zip%> <%= number_to_phone(provider.phone) %> <%= link_to 'website', provider.website  %>
</li>

<div class="vote">
<div align="right">
	<%= pluralize provider.reputation_value_for(:votes).to_i, "Point" %>
<%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, vote_provider_path(provider, type: "up"), method: "post" %>
| <%= link_to '<i class="icon-thumbs-down"></i>'.html_safe, vote_provider_path(provider, type: "down"), method: "post" %>
</div>
</div>

<hr>

<% end %>

<%= yield :scripts %>
<%= stylesheet_link_tag "your css" %>

<% else %>
Sorry there were no providers found near the address you specified.
<%end%>
</ol>
