<!DOCTYPE html>
<html>
<head>
  <title>Railsapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<h2><center>ServiceCrunch</center></h2>
		
	<% if flash[:alert] or flash[:notice] %>
	<div id="notice" <% if flash[:alert] %>class="alert"<% end %>>
	<%= flash[:alert] || flash[:notice] %>
	</div>
	<% end %>
	
	<%= link_to 'Home', root_path %> |
	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.name %></strong>.
	  <%= link_to 'Edit profile', edit_user_registration_path %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
	  <%= link_to "Sign up", new_user_registration_path %> |
	  <%= link_to "Login", new_user_session_path %>
	<% end %>
	<div class="topline"></div>	
	
<%= yield %>
	<div>
	</div>



<div class="bottom">
</div>

</body>
</html>
